.header{
    background-color: indigo;
    text-align: center;
    font-size: 50px;
}
.sheds{
    background-color: white;
    width: 150px;
    border: 50px solid lightgreen;
    padding: 50px;
    margin: 50px;
}

.fire{
background-color:white;
width: 150px;
border: 50px solid lightgreen;
padding: 50px;
margin: 50px;

}

.report{
    background-color: white;
    width: 150px;
    border: 50px solid lightgreen;
    padding: 50px;
    margin: 50px;
    
}